


.card{
    border-style: solid;
    border-color: green;
    margin-top: 1%;
}

.cardBody{
    margin: 3%;
}

.der{
    text-align: right;
}

a {
    text-decoration: none;
  }

  .desc{
    background-color: aqua;
  }