.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textArea {
  background-color: rgb(255, 255, 255);
  margin: 2%;
  min-height: calc(100vh - 215px);
  padding: 5%;
  margin: 2%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sentenceCard {
 /* border: 1px solid var(--colorText);
  padding: 1%;
  margin-bottom: 1%;*/
  width: 90%;
  border: 1px solid var(--colorText);
  margin-bottom: 1%;
  background-color: white;
  padding: 1%;
  border-radius: 8px;
}

/*
.der{
    text-align: right;
}

a {
    text-decoration: none;
  }

  .desc{
    background-color: aqua;
  }*/

 /*h1{
    color: #1e743d;
    text-transform: capitalize;
  }*/


  .btnCrear{
    text-align: end;
  }






  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 5%;
  }
  
  .page-item {
    display: inline-block;
    margin-right: 5px;
  }
  
  .page-link,
  .previous-link,
  .next-link {
    color: #1e743d; /* Color del enlace */
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid #1e743d; /* Borde del enlace */
    border-radius: 4px;
    text-decoration: none;
  }
  
  .page-link:hover,
  .previous-link:hover,
  .next-link:hover {
    background-color: #1e743d; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color del texto al pasar el ratón */
  }
  
  .active {
    background-color: #1e743d; /* Color de fondo de la página activa */
    color: #fff; /* Color del texto de la página activa */
  }
  
  .previous,
  .next {
    margin-right: 10px;
  }