/*section{
    background-color: var(--color1);
}*/


.container {
    display: flex;
    /* Centrado horizontal y vertical */
    align-items: center;
    /* Centrado vertical */
    justify-content: center;
    /* Centrado horizontal */


}

.textArea {
    background-color: rgb(255, 255, 255);
    margin: 2%;
    min-height: calc(100vh - 215px);
    padding: 5%;
    margin: 2%;
    border-radius: 8px;
    /* Para darle un toque redondeado */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Para un poco de sombra */
}

.sendButton {
    background: none;
    border: 1px solid;
    font: inherit;
    line-height: 1;
    padding: 1em;
    width: 100%;
}

textarea{
    width: 100%;
    margin-bottom: 2%;
    border: none;
    outline: none;
}

textarea:focus{
    border-bottom: 1px solid;
}


