
 .footer2 {
  position: relative;
  width: 100%;
  min-height: 400px;
 background: url("probar2.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}


